# Listas

Ws un tipo de dato que se crea a partir de otros de una manera secuenciada, por ejemplo, si queremos la lista con los digitosdebemos escribir como sigue:

```python
Listas=[El1,El2,...,Eln]
´´´

Por ejemplo,la lista de digitos seria la siguiente:

In [1]:
Digitos=[0,1,2,3,4,5,6,7,8,9]

In [2]:
type(Digitos)

list

Si quiero saber cuantos elemtos tiene la lista entonces utilizo `len`

In [3]:
len(Digitos)

10

Recordemos que los textos podiamos determinar el caracter n-ésimo del texto asi:

In [7]:
texto='Hola'

In [8]:
texto[1]

'o'

En la lista podemos hacer algo similar:

In [9]:
Digitos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
Digitos[5]

5

In [24]:
Lista2=['uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve','cero']

In [25]:
Lista2[3]

'cuatro'

Observe que el elemento n de la lista es el elemento n+1-ésimo pues Python cuenta desde cero.

In [26]:
# El primer elemento
print(Digitos[0])
print(Lista2[0])

9
uno

In [27]:
print(Digitos[9])
print(Lista2[9])

0
cero

En este Ultimo ejercico consultamos el último elemento, en Pytgon lo podemos hacer usando indices negativos (indice: El valor dentro de los parentesis cuadrados que permite acceder a los elementos dentro de la lista)

In [17]:
Digitos[-1]

9

In [18]:
Digitos[-2]

8

Los indices negativos permiten que se recorra la lista de forma invertida.

In [20]:
Digitos[-10]

0

In [21]:
Digitos[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Podemos usar un metodo de listas llamado `LISTA.reverse()`

In [22]:
Digitos.reverse()

In [23]:
Digitos

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Podemos contar las veces que aparece un elemento en una lista:

In [28]:
Digitos.count(4)

1

In [29]:
Lista3=[1,2,2,3,3,3,4,4,4,4]

In [30]:
Lista3[5]

3

In [31]:
Lista3.count(5)

0

In [32]:
Lista3.count(3)

3

Con `append` puedo agregaar elementos en una lista:

In [33]:
Lista3.append(5)

In [34]:
Lista3

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]

Si quieron agregar al inicio utilizo `insert`

In [35]:
Lista3.insert(3,10)

In [36]:
Lista3

[1, 2, 2, 10, 3, 3, 3, 4, 4, 4, 4, 5]

In [37]:
Lista2

['uno',
 'dos',
 'tres',
 'cuatro',
 'cinco',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero']

In [38]:
Lista2.insert(5,'hola')

In [39]:
Lista2

['uno',
 'dos',
 'tres',
 'cuatro',
 'cinco',
 'hola',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero']

Pra eliminar utilizo `remove`, esta función solo quita el primer elemento que aparece en la lista

In [40]:
Lista2.remove('hola')

In [41]:
Lista2

['uno',
 'dos',
 'tres',
 'cuatro',
 'cinco',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero']

In [42]:
Lista3

[1, 2, 2, 10, 3, 3, 3, 4, 4, 4, 4, 5]

In [44]:
Lista3.remove(4)
Lista3

[1, 2, 2, 10, 3, 3, 3, 4, 4, 5]

El método `pop` puede eliminar, a través del indice

In [45]:
Lista2

['uno',
 'dos',
 'tres',
 'cuatro',
 'cinco',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero']

In [46]:
Lista2.pop(4)

'cinco'

In [47]:
Lista2

['uno', 'dos', 'tres', 'cuatro', 'seis', 'siete', 'ocho', 'nueve', 'cero']

In [51]:
Listanueva=Lista2+Lista3
Listanueva

['uno',
 'dos',
 'tres',
 'cuatro',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero',
 1,
 2,
 2,
 10,
 3,
 3,
 3,
 4,
 4,
 5]

Con el operador + se concatenan las listas, también se puede usar el método `extend`

In [54]:
Lista2.extend(Lista3)
Lista2

['uno',
 'dos',
 'tres',
 'cuatro',
 'seis',
 'siete',
 'ocho',
 'nueve',
 'cero',
 1,
 2,
 2,
 10,
 3,
 3,
 3,
 4,
 4,
 5,
 1,
 2,
 2,
 10,
 3,
 3,
 3,
 4,
 4,
 5]

## Condicionales

El condicional es una estrutura de control que permite ejucutar una subrutina según se satisfaga una condición inicial:

Si ___condición ___ entonces___resultado__

In [57]:
if 4>5:
    print('Cuatro es mayor que cinco')

In [61]:
if 4<5:
    print('Cuatro es menor que cinco')

Cuatro es menor que cinco

# Bucle for

Un bucle es una estructura especial que permite que permiter recorrer los elementos de un iterable, en particular podemos recorrer los elementos de una lista:

```Python

for i in Lista:
    ejercicio_1
    resp
fin
```

Por ejemplo en la lista2 cdambiemos o por a e imprimamos:

In [74]:
Lista2=Lista2[:8]
Lista2

['uno', 'dos', 'tres', 'cuatro', 'seis', 'siete', 'ocho', 'nueve']

In [77]:
for i in Lista2:
    print(i.replace('o','a') )
    print('----')

una
----
das
----
tres
----
cuatra
----
seis
----
siete
----
acha
----
nueve
----

Un iterable especial:

No todas las secuencias`iterables`, se definen como listas tambien se pueden utilizar funciones previas que generan las listas secuenciadas de manera autómatica `range(m,n,p)` , es u7n objeto de Python lo convertimos en lista con list para entender que contiene

In [62]:
range(10)#range(0)=range(0,n) 
         #genera una lista de enteros ordenados
    #iniciamos en 0 terminamos en n-1

range(0, 10)

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list(range(2,10)) #range(n,n)
#genera una lista de enteros ordenados
#iniciando en 0 terminamos en n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list(range(2,10,2)) #range(m,n,p)
  #genera una lista de enteros ordenados
    #iniciamos en 0 terminamos en n-1

[2, 4, 6, 8]

In [70]:
list(range(2,10,5))

[2, 7]

In [73]:
Lista_100=range(1,101)
Lista_100

range(1, 101)

Usando `for` podemos hacer cosas interesantes

In [80]:
for i in range(1,101):
    if i%6==0:
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [85]:
for i in range(1,21):
    print('El número que vamos a estudiar es uno',i)
    
    print(i,'es un número que al dvidirse por tres tiene residuo',i%3)
    if i%3==0:
        print('Este número es especial porque es múltiplo de 3')
    print('***************************************************')
    print()
    print()

El número que vamos a estudiar es uno 1
1 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 2
2 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 3
3 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 4
4 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 5
5 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 6
6 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 7
7 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 8
8 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 9
9 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 10
10 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 11
11 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 12
12 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 13
13 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 14
14 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 15
15 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 16
16 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 17
17 es un número que al dvidirse por tres tiene residuo 2
***************************************************


El número que vamos a estudiar es uno 18
18 es un número que al dvidirse por tres tiene residuo 0
Este número es especial porque es múltiplo de 3
***************************************************


El número que vamos a estudiar es uno 19
19 es un número que al dvidirse por tres tiene residuo 1
***************************************************


El número que vamos a estudiar es uno 20
20 es un número que al dvidirse por tres tiene residuo 2
***************************************************